@import '../../../../assets/sass/sass-assets.scss';

.Copyright {
    position: absolute;
    width: 130px;
    height: 20px;
    top: 0;
    bottom: 0;
    right: -170px;
    margin: auto;
    font-size: 12px;

    @include break(xs) {
        left: inherit;
        font-size: 10px;
        text-align: center;
        padding-bottom: 25px;
    }
}
